.refresh-btn-container{
    display: flex;
    justify-content: flex-end;
    width:fit-content;
    margin-left: auto;
    align-items: center;
    margin-right:40px;
    margin-top:10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 60px;

    p {
        padding: 0;
        margin: 0;
    }
}

.refresh-btn-container:hover{
    text-decoration: underline;
}
.refresh-icon{
    height: 16px;
    padding-right: 10px;
}

label{
    display: block;
    margin-bottom: 8px ;
}

.checklist-explain-text{
    width: 380px;
    margin: 0 auto;
    padding-top: 50px;

}
.checkbox-list{
    display: block;
    width: 360px;
    margin-left: 30px;
    margin-top: 20px;
    padding-right: 20px;
    height: 380px;
    overflow: hidden;
    overflow-y: scroll;
}

.checkbox-item-container{
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 16px;
    background-color: #E0DEDA;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    padding-left: 30px;
    border-radius: 100px;
}

.checkbox-item-container:hover{
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #c9c5bd;
}