.form-container {
  width: 440px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
 
}

.form-container p {
  margin-left: 40px;
  margin-bottom: 0; 
  font-weight: 500;
}

.form-error {
  color: red;
  font-size: 14px;
}

.submit{
  position: fixed;
  bottom: 165px; 
  justify-content: center;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}

.auth-input{
    display:flex;
    margin: 0 auto; 
    width: 330px;
    height: 40px;
    border-radius: 60px;
    padding: 0 20px;  
    font-size: 16px;
    border: 1px solid #1A443D ; 
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}